/* purgecss start ignore */
:global {
  @tailwind base;

  button:focus {
    outline: 0;
  }
  button::-moz-focus-inner {
    outline: 0;
    border: 0;
  }

  @tailwind components;
}
/* purgecss end ignore */
:global {
  @tailwind utilities;
  @tailwind screens;
}
